.App {
  /* text-align: center; */
  /* background: url('https://images.unsplash.com/photo-1533418466759-ac54bd32122e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bG92ZSUyMHN0b3J5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60') no-repeat center center fixed;; */
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* opacity: 0.1; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



